### Sales report ###

In [2]:
import pandas as pd

df = pd.read_csv('/Users/ulisesgamez/Downloads/archive/Sale Report.csv')

print(df.info()) 

df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9271 entries, 0 to 9270
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   index       9271 non-null   int64
 1   SKU Code    9188 non-null   object
 2   Design No.  9235 non-null   object
 3   Stock       9235 non-null   float64
 4   Category    9226 non-null   object
 5   Size        9235 non-null   object
 6   Color       9226 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 507.1+ KB
None

      index       SKU Code Design No.  Stock       Category Size Color
0         0    AN201-RED-L      AN201    5.0  AN : LEGGINGS    L   Red
1         1    AN201-RED-M      AN201    5.0  AN : LEGGINGS    M   Red
2         2    AN201-RED-S      AN201    3.0  AN : LEGGINGS    S   Red
3         3   AN201-RED-XL      AN201    6.0  AN : LEGGINGS   XL   Red
4         4  AN201-RED-XXL      AN201    3.0  AN : LEGGINGS  XXL   Red
...     ...            ...        ...    ...            ...  ...   ...
9266   9266            NaN        NaN    NaN            NaN  NaN   NaN
9267   9267            NaN        NaN    NaN            NaN  NaN   NaN
9268   9268            NaN        NaN    NaN            NaN  NaN   NaN
9269   9269            NaN        NaN    NaN            NaN  NaN   NaN
9270   9270            NaN        NaN    NaN            NaN  NaN   NaN

[9271 rows x 7 columns]

In [6]:
df.drop_duplicates(inplace = True)

df

      index       SKU Code Design No.  Stock       Category Size Color
0         0    AN201-RED-L      AN201    5.0  AN : LEGGINGS    L   Red
1         1    AN201-RED-M      AN201    5.0  AN : LEGGINGS    M   Red
2         2    AN201-RED-S      AN201    3.0  AN : LEGGINGS    S   Red
3         3   AN201-RED-XL      AN201    6.0  AN : LEGGINGS   XL   Red
4         4  AN201-RED-XXL      AN201    3.0  AN : LEGGINGS  XXL   Red
...     ...            ...        ...    ...            ...  ...   ...
9266   9266            NaN        NaN    NaN            NaN  NaN   NaN
9267   9267            NaN        NaN    NaN            NaN  NaN   NaN
9268   9268            NaN        NaN    NaN            NaN  NaN   NaN
9269   9269            NaN        NaN    NaN            NaN  NaN   NaN
9270   9270            NaN        NaN    NaN            NaN  NaN   NaN

[9271 rows x 7 columns]

In [7]:
df01 = df.dropna()

df01

      index           SKU Code Design No.  Stock       Category  Size Color
0         0        AN201-RED-L      AN201    5.0  AN : LEGGINGS     L   Red
1         1        AN201-RED-M      AN201    5.0  AN : LEGGINGS     M   Red
2         2        AN201-RED-S      AN201    3.0  AN : LEGGINGS     S   Red
3         3       AN201-RED-XL      AN201    6.0  AN : LEGGINGS    XL   Red
4         4      AN201-RED-XXL      AN201    3.0  AN : LEGGINGS   XXL   Red
...     ...                ...        ...    ...            ...   ...   ...
9230   9230     SET462-KR-NP-S     SET462   44.0            SET     S  Teal
9231   9231    SET462-KR-NP-XL     SET462   58.0            SET    XL  Teal
9232   9232    SET462-KR-NP-XS     SET462   20.0            SET    XS  Teal
9233   9233   SET462-KR-NP-XXL     SET462   66.0            SET   XXL  Teal
9234   9234  SET462-KR-NP-XXXL     SET462   40.0            SET  XXXL  Teal

[9188 rows x 7 columns]

In [8]:
df01 = df01.drop(columns = "index")

df01

               SKU Code Design No.  Stock       Category  Size Color
0           AN201-RED-L      AN201    5.0  AN : LEGGINGS     L   Red
1           AN201-RED-M      AN201    5.0  AN : LEGGINGS     M   Red
2           AN201-RED-S      AN201    3.0  AN : LEGGINGS     S   Red
3          AN201-RED-XL      AN201    6.0  AN : LEGGINGS    XL   Red
4         AN201-RED-XXL      AN201    3.0  AN : LEGGINGS   XXL   Red
...                 ...        ...    ...            ...   ...   ...
9230     SET462-KR-NP-S     SET462   44.0            SET     S  Teal
9231    SET462-KR-NP-XL     SET462   58.0            SET    XL  Teal
9232    SET462-KR-NP-XS     SET462   20.0            SET    XS  Teal
9233   SET462-KR-NP-XXL     SET462   66.0            SET   XXL  Teal
9234  SET462-KR-NP-XXXL     SET462   40.0            SET  XXXL  Teal

[9188 rows x 6 columns]

In [10]:
df02 = df01.rename(columns = {'Design No.':'Style'})

df02

               SKU Code   Style  Stock       Category  Size Color
0           AN201-RED-L   AN201    5.0  AN : LEGGINGS     L   Red
1           AN201-RED-M   AN201    5.0  AN : LEGGINGS     M   Red
2           AN201-RED-S   AN201    3.0  AN : LEGGINGS     S   Red
3          AN201-RED-XL   AN201    6.0  AN : LEGGINGS    XL   Red
4         AN201-RED-XXL   AN201    3.0  AN : LEGGINGS   XXL   Red
...                 ...     ...    ...            ...   ...   ...
9230     SET462-KR-NP-S  SET462   44.0            SET     S  Teal
9231    SET462-KR-NP-XL  SET462   58.0            SET    XL  Teal
9232    SET462-KR-NP-XS  SET462   20.0            SET    XS  Teal
9233   SET462-KR-NP-XXL  SET462   66.0            SET   XXL  Teal
9234  SET462-KR-NP-XXXL  SET462   40.0            SET  XXXL  Teal

[9188 rows x 6 columns]

In [21]:
df02 = df02.drop(df02[df02['Size'] == 'FREE'].index)

df02

               SKU Code   Style  Stock       Category  Size Color
0           AN201-RED-L   AN201    5.0  AN : LEGGINGS     L   Red
1           AN201-RED-M   AN201    5.0  AN : LEGGINGS     M   Red
2           AN201-RED-S   AN201    3.0  AN : LEGGINGS     S   Red
3          AN201-RED-XL   AN201    6.0  AN : LEGGINGS    XL   Red
4         AN201-RED-XXL   AN201    3.0  AN : LEGGINGS   XXL   Red
...                 ...     ...    ...            ...   ...   ...
9230     SET462-KR-NP-S  SET462   44.0            SET     S  Teal
9231    SET462-KR-NP-XL  SET462   58.0            SET    XL  Teal
9232    SET462-KR-NP-XS  SET462   20.0            SET    XS  Teal
9233   SET462-KR-NP-XXL  SET462   66.0            SET   XXL  Teal
9234  SET462-KR-NP-XXXL  SET462   40.0            SET  XXXL  Teal

[8972 rows x 6 columns]

In [22]:
print(df02.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8972 entries, 0 to 9234
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SKU Code  8972 non-null   object
 1   Style     8972 non-null   object
 2   Stock     8972 non-null   float64
 3   Category  8972 non-null   object
 4   Size      8972 non-null   object
 5   Color     8972 non-null   object
dtypes: float64(1), object(5)
memory usage: 490.7+ KB
None